/* RESET RULES & INITIAL SET UP
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  background: none;
  outline: none;
  height: 100%;
}

textarea {
  resize: none;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 1.5rem;
}


/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.handmade-form h1,
.handmade-form li,
.handmade-form .grid > *:not(:last-child) {
  padding: 0px;
  margin: 0px;
}

.handmade-form .form-wrapper,
.handmade-form input:not([type="radio"]),
.handmade-form textarea,
.handmade-form button,
.handmade-form .checkbox-list label {
  position: relative;
}

.handmade-form input:not([type="radio"]),
.handmade-form textarea,
.handmade-form button,
.handmade-form .checkbox-list label {
  z-index: 1;
}

.handmade-form input:not([type="radio"]),
.handmade-form textarea,
.handmade-form button {
  width: 100%;
  height: 100%;
}

.handmade-form input:not([type="radio"]),
.handmade-form textarea,
.handmade-form fieldset {
  padding: 10px;
}

.handmade-form textarea {
  height: 200px;
  vertical-align: top;
}

.handmade-form legend {
  margin: 0 auto;
}

.handmade-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.handmade-form .form-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
