@import url('https://fonts.googleapis.com/css?family=Chivo|Gothic+A1|Domine|Lora|Space+Mono:700&display=swap');

:root {
  /* chart colours */
  --main: #42DBB7;
  --bgbody: rgba(245,255,250,0.25); /* mintcream 25% */
  --bgbox: whitesmoke;
  --bgheaders: cadetblue;
  --bghover: lightslategray;
  --outline: darkslategray;
  --fade: gainsboro;
  --dark: darkslategray;
  --tint: paleturquoise;
  --dull: cadetblue;
  --calm: gray;
  --pop: orangered;
  --night: #202020;
  --warm: ivory;
  --tdpYellow: #FCE762;
  --tdpLightBlue: #42DBB7;
}

body {
  background-color: white;
  font-size: 100%;
  font-family: 'Gothic A1';
}
h1 {
  background-color: var(--main);
  color: white;
  font-size: 2.5em;
  font-family: Domine;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
}

h2 {
  color: white;
  background-color: var(--dull);
  font-size:1.5em;
  font-family: Domine;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  color: black;
  font-size:1.2em;
}

.number {
  font-family: 'Gothic A1';
  width: 195px;
  background-color: dimgray;
  color: #fff;
  font-size: 2.5em;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 5px;
  touch-action: none;
  position: absolute;
  text-align: center;
  z-index: -1;
}
.red {
  background-color: red;
}
.marker {
  text-align: center;
  width: 7em;
  z-index: 0;
}
.marker text {
  font-size: 2em;
  border: 1px solid purple;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  color: white;
  background-color: purple;
}
.marker arrow {
  background-color: purple;
  width: 6px;
  height: 53px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media print {
  .number {
    background-color: #fff;
    color: black;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0px;
    margin: 0px;
    border-right: 1px dotted gray;
    padding-bottom: 25px;
    border-bottom: 1px dotted grey;
    padding-top: 25px;
  }
  .number:nth-child(5n-1) {
    border-left: 1px dotted gray;
  }
  .number:nth-child(6), .number:nth-child(7), .number:nth-child(8), .number:nth-child(3), .number:nth-child(4), .number:nth-child(5) {
    border-top: 1px dotted gray;
  }
  .marker {
    display: none;
  }
  button {
    background-color: mediumaquamarine;
    font-size: 16px !important;

  }
  .button .foo {
    background-color: mediumaquamarine;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 30px;
    padding: 0;
  }
  ol {
    list-style: square inside;
    list-style-type: lower-alpha;
  }
}
